# Virtuelle Umgebung
.venv/

# Build-Ordner und PyInstaller-Specs
build/
dist/
*.spec

# Installer-Ausgabe
installer/installer_output/

# Lokale DB
finanz_app.db

# Python-Cache
__pycache__/
*.py[cod]
